h3 {
  font-size: 35px;
}

a{
  text-decoration: none;
  color: inherit;
}

section{
  line-height: 35px;
}

.border-top{
  border-top: solid 2px #e5e5e5;
}

header{
  flex-flow: row wrap;
}
header .alohalogo {
  order:1;
  width: 50%;
}
header .shoppingcartlogo {
  order:2;
  // background: url("../assets/cart-icon.svg") no-repeat;
  background-position: center  right ;
  background-size: 35%;
  width: 35%;
}

header .cta{
  order:3;
  width: 100%;
}

.alohalogo img {
  width:70%;
}

#cartTotalItems{
  background-color: #e0564b;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 21px;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;

}

.banner {
  background: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)),
  url("../assets/banner-girl.png"), url("../assets/flower-bkgd.jpg");
  background-repeat:repeat, no-repeat;
  height:600px;
  background-position: center, center 8rem;
  background-size: 60rem, 13rem;
}

.banner h4{
  line-height: 4rem;
}
.banner h1{
  font-size: 3rem;
  line-height: 3rem;
}

.mens {
  background: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)),
  url("../assets/mens-category.jpg") no-repeat;
  margin:0 0 0.25rem 0;
  background-position: center;
  background-size: cover;
}
.trends{
  background: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)),
  url("../assets/trends-category.jpg") no-repeat;
  margin: 0.25rem 0.25rem 0.25rem 0;
  width:50%;
  background-position: center;
  background-size: cover;
}
.glasses{
  background: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)),
  url("../assets/glasses-category.jpg")no-repeat;
  margin: 0.25rem 0 0.25rem 0.25rem;
  width:50%;
  background-position: center;
  background-size:  cover;
}
.sales{
  background: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)),
  url("../assets/sale-category.jpg")no-repeat;
  margin: 0.25rem 0.25rem 0.25rem 0;
  width:50%;
background-position: center;
  background-size: cover;
}
.bags{
  background: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)),
  url("../assets/bags-category.jpg")no-repeat;
  margin: 0.25rem 0 0.25rem 0.25rem;
  width:50%;
  background-position: center;
  background-size: cover;
}
.womens{
  background: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)),
  url("../assets/womens-category.jpg")no-repeat;
  margin: 0.25rem 0 0 0;
  background-position: top;
  background-size: cover;
}
.display-inline{
  display: inline;
}
.email {
  background: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)),
  url("../assets/wave-bkgd.jpg") bottom no-repeat;
	background-size: cover;
  margin-bottom: 5px;
  height: 250px;
}
input[type="email"]{
width: 220px;
border: none;
border-radius: 200px;
color:#a9a9a9;
font-size: 18px;
padding: 10px;
}
.email-button {
  background-color: #e0564b;
  border-radius: 300px;
  border: none;
  font-size: 18px;
  padding:6px;
  width: 125px;
  transition: all 0s ease;
}
.addtocart-button {
  background-color: black;
  border-radius: 300px;
  border: none;
  font-size: 15px;
  padding:4px;
  width: 100px;
  transition:all 0s ease;
}
form {
  background-color: white;
  width: 22rem;
  border-radius: 45px;
}
footer {
	margin-top: 6px;
	padding-left: 40px;
  background-color: #262626
}
.fa{
	padding-bottom: 15px;
  color:white;
}
.fa:hover{
  color:#969696;
}

.fa-shopping-cart{
	color: black;
}
.SocialMediaIcon{
	width: 40px;
  height: auto;
}
div ul li {
  color: black;
}
cta li {
  color:#e2574c;
  transition: all 0.3s ease;
}
.cta li:hover{
  color: #b64036;
}
.email-button:hover {
  background-color:#12747a;
}
.SocialMediaName {
  display:none;
  transition: all 0.3s ease;
}
.SocialMediaName:hover {
  color:#969696;
}
.addtocart-button:hover{
  background-color: #e0564b;
}
.itemimage {
  margin: 0 auto;
}

.bx-wrapper{
  width: 100%;
  margin: auto;
}

header{
  overflow: hidden;
  position: fixed; 
  top: 0;
  width: 100%;
  background-color: white;
  z-index:100;
}

.banner{
  margin-top: 100px; /* Add a top margin to avoid content overlay */
}